<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add TimeTable</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Add TimeTable</h3>
                </div>
                <div class="card-body">
                    <form action="/time-table/add" method="post">
                        <div class="form-group">
                            <label for="groupName">TimeTable Name</label>
                            <input type="text" class="form-control" name="name" id="groupName" placeholder="Enter TimeTable name" required>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" name="price" id="price" placeholder="Enter Price" required>
                        </div>
                        <div class="form-group">
                            <label for="days">Days</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="days" id="monday" value="1">
                                <label class="form-check-label" for="monday">Monday</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="days" id="tuesday" value="2">
                                <label class="form-check-label" for="tuesday">Tuesday</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="days" id="wednesday" value="3">
                                <label class="form-check-label" for="wednesday">Wednesday</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="days" id="thursday" value="4">
                                <label class="form-check-label" for="thursday">Thursday</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="days" id="friday" value="5">
                                <label class="form-check-label" for="friday">Friday</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="days" id="saturday" value="6">
                                <label class="form-check-label" for="saturday">Saturday</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="days" id="sunday" value="7">
                                <label class="form-check-label" for="sunday">Sunday</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
